body{
    font-size: small;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}

 .info-slide{
    text-align: center;
    padding: 35px 45px 20px;
   
}

.regret__box1{
    padding: 10px, 0px;
}
