*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

div > a{
    text-decoration: none;
    color: black;
}

.bg-info{
    background-color: #fff159!important;
}

#body{
    background-color: #ebebeb;
}

.mx-5 {
    margin-right: 9rem!important;
    margin-left: 9rem!important;
}
