*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

div > a{
    text-decoration: none;
    color: black;
}

.bg-info{
    background-color: #fff159!important;
}

#body{
    background-color: #ebebeb;
}

/* Animacion */
.productos .card{
    transition: all 0.1s linear; /* Transicion de los cambios que ocurren para que el sombreado aparezca de a poco*/
}

.productos .card:hover {
    box-shadow: 0px 5px 5px  0.1px rgba(0, 0,0, 0.3); /* Agrega sombra en hover */
}

.productos .card:hover .descripcion-produto {
    opacity: 100%; /* Aumenta la opacidad al 100% del texto que estaba transparente */
}

/* Contenido de card*/
.productos .card *{
    display: block;
}
.productos .card .precio {
    font-size: 1.7rem;
}
.productos .card .envio-gratis{
    font-size: 0.8rem;
    color: #00a650;
}

.productos .card .descripcion-produto{
    color: grey;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    opacity: 0%; /* Importante para la animación ya que cambia la opacidad */
}
